*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: block;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;

}
.head-name{
    display:block;
    position: fixed;
    width: 100%;
    height: 7%;
    background-color:white;
    color: rgb(95, 95, 95);
    text-align: center;
    font-weight: bold;
    font-size: medium; 
    padding-top: 10px;
    z-index: 10; 
}
nav{

    display: flex;
    position: fixed;
    background-color: rgb(44, 42, 42);
    padding: 25px 30px;
    flex-wrap: wrap;
    z-index: 9;
    width: 100%;
    top: 40px;
    /* justify-content: space-between;/ / Added to space out the logo and menu */
    align-items: center; 
}
.head-logo1{
    color: aliceblue;
    /* display: block; */
    font-size: 26px;
    font-weight: bold;
    margin-left: 80px;

}
.head-logo{
    display: inline;
    background-color: rgb(4, 236, 109);
    padding: 2px 6px;
    border-radius: 3px;
    margin-left: 5px;
      
}
/* Navigation Menu */
ul{
    display: flex;
    position: absolute;
    text-align: center;
    align-items: center;
    left: 420px;
    text-decoration: none;
    list-style-type: none;

}
li{
    left: 20px;
    padding-left: 30px;
    
    
}
.head-logoc{
    position: absolute;
    right: 50px;
    background-color: rgb(29, 202, 121);
    color: aliceblue;
    border-radius: 50px;
    padding: 10px 20px;
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
}
ul li a{
    text-decoration: none;
    color: aliceblue;
    font-weight: 300;
}
ul li a:hover{
    text-decoration: none;
    color: rgb(35, 236, 135);
}
/* display */
.dis{
    display: flex;
    position: relative;
    justify-content: space-around;
    width: 100%;
    /* background-color: chartreuse;#f98686 ,-90deg,*/
    background: linear-gradient(-90deg, #fff 45%, #49f69c 35% );
    color: #fff;
    height: 650px;
    top: 90px;
}
.text-content{
    display: block;
    position: absolute;
    /* border:1px solid; */
    font-size: 20px;
    width: 600px;
    height: 500px;
    top: 200px;
    left: 100px;
    padding: 30px;
    padding-top: 80px;
}
.call-1{
    font-size: 20px;
    padding: 15px 20px;
    border: 1px solid #fff;
    background-color: #0c0c0c;
    color: #49f69c;
    border-radius: 30px;
    margin-top: 20px;
}
.video-1{
        /* border: 1px solid blue; */
        position: absolute;
        top: 30px;
        width: 400px;
        height: 450px;
        /* background-color: aqua; */
        background-image: url();
        right: 100px;
}
/* service-1 */
.service-1{
    display: inline-block;
    position: relative;
    width: 80%;
    height: 60%;
    /* padding: 20%; */
    margin-top: 100px;
    margin-left: 20px;
}
.services-img-1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: auto;
    margin-left:10% ;
}
.service-1 h1{
    font-size: 50px;
    display: block;
    text-align: center;
    padding: 20px;
    color: rgb(12, 219, 132);
}
.service-1 p{
    font-size: 20px;
    display: block;
    text-align: center;
    padding: 20px;
    padding-top: 0;
    color: rgb(5, 9, 0);

}
.service-box-1{
    position: relative;
    display: flex;
    justify-content: center;
    width: 250px;
    height: 200px;
    /*border: 1px solid red;*/
    border-radius: 20px;
}
.service-box-2{
    position: relative;
    width: 250px;
    height: 200px;
    /*border: 1px solid red;*/
    border-radius: 20px;
}
.service-box-3{
    position: relative;
    width: 200px;
    height: 200px;
    /*border: 1px solid red;*/
    border-radius: 20px;
}
.service-boxs-1{
    background-image: url(/Images/laptop.png); background-size: cover;
    position: absolute;
    left: 25px;
    bottom: 20px;
    width: 170px;
    height: 170px;
    /* border: 1px solid rgb(9, 255, 0); */
}
.service-boxs-2{
    background-image: url(/Images/desktop.png); background-size: cover;
    position: absolute;
    left: 25px;
    bottom: 20px;
    width: 200px;
    height: 200px;
    /*border: 1px solid rgb(9, 255, 0);*/
}
.service-boxs-3{
    background-image: url(/Images/led1.png); background-size: cover;
    position: absolute;
    left: 25px;
    bottom:20px;
    width: 180px;
    height: 180px;
    /*border: 1px solid rgb(9, 255, 0);*/
}

.service-box-1 h2{
    position: absolute;
    text-align: center;
    bottom: 0px;
}
.service-box-2 h2{
    position: absolute;
    text-align: center;
    left: 5px;
    bottom: 0px;
}
.service-box-3 h2{
    position: absolute;
    text-align: center;
    left: 5px;
    bottom: 0px;
}
/* our */
.our{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 60%;
    /* padding: 20%; */
    margin-top: 100px;
    background-color: rgb(0, 15, 15);
}
.our h1{
    color: #fff;
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 45px;
}
.card-box{
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    padding-bottom: 60px;

}
.our-box-1{
    position: relative;
    display: block;
    background-color: rgb(21, 42, 40);
    /*border: 1px solid rgb(145, 156, 132);*/
    width: 550px;
    height: 250px;
    text-align: start;
    margin: 20PX;
    border-radius: 20px;
}
.our-box-1 i{margin-left: 50px; margin-top: 30px;  color: rgb(21, 218, 119) ; font-size: 80px;}
.our-box-1 h2{
    position: absolute;
    color: rgb(21, 218, 119);
    bottom: 60px;
    padding: 10px;
}
.our-box-1 p{
    position: absolute;
    color: #fff;
    bottom: 0px;
    padding: 10px;
    
}

/* laptops ser */

.loptop-ser{
    display: inline-block;
    position: relative;
    width: 97%;
    height: 60%;
    /* padding: 20%; */
    margin-top: 30px;

}
.card-box{
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;

}
.loptop-ser h1{
    padding: 20px;
}
.img-lap-1{
    position: relative;
    display: block;
    /*background-color: rgb(195, 198, 200);*/
    /*border: 1px solid rgb(247, 249, 251);*/
    width: 200px;
    height: 250px;
    text-align: start;
    margin: 60px;
    border-radius: 20px;
}
.img-lap{
    position: absolute;
    /*border: 1px solid rgb(237, 237, 9);*/
    border-radius: 100%;
    width: 180px;
    height: 180px;
    left: 10px;
    top: 20px;
}

.img-lap-1 p{
    color: #0d0d0d;
    margin-top: 200px;
    position:relative;
    display: flex;
    align-content: center; justify-content: center;
    bottom: 0px;
    padding: 10px;
    
}
/* laptop bra */
.laptop-bra{
    display: inline-block;
    position: relative;
    width: 97%;
    /* padding: 20%; */
    margin-top: 100px;
}
.laptop-bra h1{
    position: absolute;
    margin-left: 100px;
    border-bottom:3px solid green ;
}
.brand{
    display: inline-flex;
    width: 65%;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
}
.img-box{
    position: relative;
    display: block;
    width: 200px;
    height: 150px;
    text-align: start;
    /* margin: 10PX; */
    border-radius: 20px;
    margin-top: 60PX;
}
.img-lap-2{
    position: absolute;
    /*border: 1px solid yellow;*/
    border-radius: 100%;
    width: 180px;
    height: 180px;
    left: 10px;
    top: 20px;
}
/* Tv service */

.Led-tv{
    display: inline-block;
    position: relative;
    width: 97%;
    height: 60%;
    /* padding: 20%; */
    margin-top: 100px;

}
.card-box1{
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;

}
.Led-tv h1{
    padding: 20px;
}
.img-tv-1{
    position: relative;
    display: flex;
    justify-content: center;
    color: #000f07;
    /*background-color: #f80673;*/
    /*border: 1px solid rgb(145, 156, 132);*/
    width: 200px;
    height: 250px;
    text-align: center;
    margin: 20PX;
    border-radius: 20px;
}
.img-lap{
    position: absolute;
    /*border: 1px solid yellow;*/
    border-radius: 100%;
    width: 180px;
    height: 180px;
    left: 10px;
    top: 20px;
}

.img-tv-1 p{
    position: absolute;
    /* left: 40px; */
    bottom: 0px;
    padding: 10px;
    
}
/* tv bra */
.tv-bra{
    display: inline-block;
    position: relative;
    width: 97%;
    /* padding: 20%; */
    margin-top: 100px;
}
.tv-bra h1{
    position: absolute;
    margin-left: 100px;
    border-bottom:3px solid green ;
}
.brand{
    display: inline-flex;
    width: 65%;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
}
.img-box{
    position: relative;
    display: block;
    width: 200px;
    height: 150px;
    text-align: start;
    /* margin: 10PX; */
    border-radius: 20px;
    margin-top: 60PX;
}
.img-lap-2{
    position: absolute;
   /* border: 1px solid yellow;*/
    border-radius: 100%;
    width: 180px;
    height: 180px;
    left: 10px;
    top: 20px;
}
/* bus */
.businesses{
    display:inline-block;
    position: relative;
    width: 97%;
    /* padding: 20%; */
    margin-top: 100px;
    margin-bottom: 50px;
    /*background-color: aqua;*/

}
.content{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    position: relative;

}
.content-box1{
    position: relative;
    width: 40%;
    height: 500px;
    background-color: rgb(12, 219, 132);
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.content-box1 h1{
    font-size: 34px;
    color: #fff;
    position: absolute;
    padding-left: 110px;
    padding-top: 60px;

}
.lists-1{
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    top: 180px;
    left: 100px;
    /*border: 2px solid red;*/
    width: 300px;
    height: 100px;
    text-align: center;
    

}
.list-box{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: aqua;
    left: 0;
}
.lists-1 i{color: #0e0e0e;}
.lists-1 h2{
    color: #fff;
    position: absolute;
    margin-left: 50px;
    top: 30px;
    font-size: 28px;
}


.content-box2{
    position: relative;
    width: 40%;
    height: 500px;
    background-color: #49f69c;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}



footer {display: flex; justify-content: space-around; background-color: rgb(21, 42, 40); padding-bottom: 10px; color: aliceblue;}
footer h1 { display: flex; color: rgb(12, 219, 132); font-size: 40px; padding-top: 30px;}

.head{margin-top: 100px;}
.head span {color: #fff;}
.f1 span {color:aqua}
.f1 p{margin-left: 10px; transition: 0.3s; cursor: pointer;}
.f1 p:hover {color: aqua;}
.f2 p{transition: 0.3s; cursor: pointer;}
.f2 p:hover{color: aqua;}
.f3 p{margin-left: 10px; transition: 0.3s;  cursor: pointer;}
.f3 p:hover {cursor: pointer; color:aqua; }


.box2{
    display:flex;
    background-color: rgb(148, 148, 148);
    color: #fff;
    position: absolute;
    width: 100%;
    height: 70px;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
}
.SAR{
    position: absolute;
    right: 200px;
    font-weight: 600;
    display: flex;
    justify-content: space-around;
    width: 10%;
    margin-bottom: 10px;
}
.SAR i{
    position: absolute;
    background-color: #fff;
    color: #0e0e0e;
    border: 1px solid white;
    padding: 5px;
    border-radius: 10px;
    background-size: 2%;
    margin-right: 100px;
    margin-bottom: 40px;
}
.SAR i:hover{color: #fff;
    background-color: rgb(54, 242, 142);}